<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>res.render() Demonstração</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" />
    </head>
    <body>
        <div>
            <h2>Welcome to GeeksforGeeks</h2>
            <div>
                <a href="https://acervolima.com/funcao-express-js-res-render/">Função Express.js res.render()</a>
            </div>
            <div>
                <center><img class="img" src="/imagens/nodejs.png" alt="Node.js"></center>
            </div>
        </div>
    </body>
</html>